<!DOCTYPE html>
<html lang="en">
{% load extra_tags %}


{#-------------------------------------------------------------------------------------------------------------#}


<h2>Złożone aplikacje:</h2>
<p id="dvContents" class="report-body">
<table class="table table-striped table-hover table-responsive table-condensed report-table" id="sortMe">
    <thead>
    <tr class="first">
        <th class="no-report" title="Szczegóły"></th>
        <th class="first" data-type="number">#</th>
        <th class="first" data-type="number">Id</th>

        <th class="first">Imię i nazwisko zamawiającego</th>
        <th class="first">Telefon</th>

        <th class="text-center">Email</th>
        <th class="text-center">Stanowisko</th>
        <th class="first">Województwo</th>
        <th class="text-left,string first">Wiek</th>
        <th class="text-center, first">Wzrost</th>
        <th class="text-center, first">Waga</th>
        <th class="text-left,string first">Doświadczenie w pracy z dziećmi</th>
        <th class="text-left,string, first">Podobne doświadczenie</th>
        <th class="text-left,string, first">Prawo jazdy</th>
        <th class="text-left,string, first">Auto</th>
        <th class="text-left,string, first">Praca w Wigilię</th>
        <th class="text-left,string">O sobie</th>
        <th class="first">Data zgłoszenia</th>
        <th class="first">Punktacja</th>
        <th class="first">Umówione spotkanie</th>

    </tr>
    </thead>

    <tbody class="first">
    {% for application in applications %}

        {% if not application.denied %}
            <tr class="first" data-target="{{ application.bounded_to }}{{ region|remove_spaces }}">
                {% else %}
            <tr class="first" style="color: gray;
   pointer-events: none;" data-target="{{ application.bounded_to }}{{ region|remove_spaces }}">
        {% endif %}


    <td class="no-report">
        <button type="button" class="btn btn-primary btn-table-expand" title="Szczegóły"><i
                class="fa fa-plus"></i>·
        </button>
    </td>
    <td class="first">{{ forloop.counter }}</td>
    <td class="first">{{ application.bounded_to }}</td>
    <td class="first">{{ application.name_surname }}</td>
    <td class="first">{{ application.phone|safe }}</td>
    <td class="text-center">{{ application.email|lower }}
        <a href="mailto:{{ application.email }}">napisz @</a></td>
    <td class="text-center">{{ application.position }}</td>
    <td class="first">{{ application.work_region }}</td>
    <td class="first">{{ application.age }}</td>
    <td class="text-center, first">{{ application.height }}</td>
    <td class="text-center, first">{{ application.weight }}</td>
    <td class="text-center, first">{{ application.worked_with_children }}</td>
    <td class="text-center, first">{{ application.similar_work_experience }}</td>
    <td class="text-center, first">{{ application.driver_license }}</td>
    <td class="text-center, first">{{ application.car }}</td>
    <td class="text-center, first">{{ application.work_24_12 }}</td>
    <td class="text-center">{{ application.desc_and_experience }}</td>
    <td class="text-center, datetime, first">{{ application.created }}</td>
    <td class="text-center, first">{{ application.score }}</td>
    {% if application.appointment %}
        <td style="background-color: rgba(0,128,0,0.47)" class="text-center, first">TAK</td>
    {% else %}
        <td style="background-color: rgba(96,0,0,0.34)" class="text-center, first">NIE
            <button onclick="return confirm('Czy na pewno chcesz oznaczyć jako umówione?');"><a
                    style="color: black; text-decoration: none"
                    href="confirm_application/{{ application.id }}">Oznacz jako umówione</a>
            </button>
        </td>
    {% endif %}
    {#    {% if not application.confirmed %}#}
    {#        <td style="background-color: rgba(96,0,0,0.34)">#}
    {#            {{ application.confirmed }}#}
    {#            <button onclick="return confirm('Czy na pewno chcesz potwierdzić zamówienie?');"><a#}
    {#                    style="color: black; text-decoration: none" href="confirm_application/{{ application.id }}">Potwierdź</a>#}
    {#            </button>#}
    {#        </td>#}
    {#    {% else %}#}
    {#        <td style="background-color: rgba(0,128,0,0.47)">#}
    {#            {{ application.confirmed }}#}
    {#        </td>#}
    {#    {% endif %}#}
    {#    {% if application.paid_made %}#}
    {#        <td style="background-color: rgba(0,128,0,0.47)">#}
    {#            {{ application.paid_made }}#}
    {#        </td>#}
    {#    {% else %}#}
    {#        <td style="background-color: rgba(96,0,0,0.34)">#}
    {#            {{ application.paid_made }}#}
    {#            <button onclick="return confirm('Czy na pewno chcesz potwierdzić płatność?');"><a#}
    {#                    style="color: black; text-decoration: none"#}
    {#                    href="confirm_payment/{{ application.id }}">Potwierdź</a>#}
    {#            </button>#}
    {#        </td>#}
    {#    {% endif %}#}


    {#    {% if not application.assigned_to.count == 0 %}#}
    {#        <td style="background-color: rgba(0,128,0,0.47)">#}
    {#            <form method="post">#}
    {#                {% csrf_token %}#}
    {#                <select name="assign">#}
    {#                    {% for user in users %}#}
    {#                        <option value="{{ user.id }}">{{ user.last_name }}&nbsp{{ user.first_name }}</option>#}
    {#                    {% endfor %}#}
    {#                </select>#}
    {#                <input type="hidden" name="application_id" value="{{ application.id }}">#}
    {#                <input type="submit" value="Przypisz">#}
    {#            </form>#}
    {#        </td>#}
    {#    {% else %}#}
    {#        <td style="background-color: rgba(96,0,0,0.34)">#}
    {#            <form method="post">#}
    {#                {% csrf_token %}#}
    {#                <select name="assign">#}
    {#                    {% for user in users %}#}
    {#                        <option value="{{ user.id }}">{{ user.last_name }}&nbsp{{ user.first_name }}</option>#}
    {#                    {% endfor %}#}
    {#                </select>#}
    {#                <input type="hidden" name="application_id" value="{{ application.id }}">#}
    {#                <input type="submit" value="Przypisz">#}
    {#            </form>#}
    {#        </td>#}
    {#    {% endif %}#}


    </tr>


        <tr id="{{ application.bounded_to }}{{ region|remove_spaces }}" class="second-level">
            <td colspan="6">
                <table class="table table-condensed table-bordered table-responsive table-hover report-table">
                    <tbody>

                    <tr>
                        <th class="text-left,string">Edycja</th>
                        <th class="text-left,string">Odrzuć</th>
{#                        <th class="text-center">Telefon kontaktowy</th>#}
                        {#                        <th class="text-center">Email</th>#}
                        {#                        <th class="text-center">Adres siedziby</th>#}
                        {#                        <th class="text-center">Zgoda marketingowa</th>#}
                        {#                        <th class="text-center">Przypominajka</th>#}
                        {##}
                        {##}
                        {#                        <th class="text-center">Opłata dojazdowa</th>#}
                        {#                        <th class="text-center">Nazwa placówki</th>#}
                        {##}
                    </tr>
                    <tr>
                        <td style="background-color: rgba(96,0,0,0.34)" class="text-center, first">
                            <button onclick="return confirm('Przejść do edycji pozycji?');"><a
                                    style="color: black; text-decoration: none"
                                    href="update_application/{{ application.id }}">EDYTUJ</a>
                            </button>
                        </td>

                        <td class="text-center, first">
                            <button style="background-color: rgba(182,3,3,0.82)" onclick="return confirm('Czy na pewno odrzucić tą aplikację?');"><a
                                    style="color: black; text-decoration: none"
                                    href="deny_application/{{ application.id }}">ODRZUĆ APLIKACJĘ</a>
                            </button>
                        </td>
{#                        <td>{{ application.phone|safe }}</td>#}
                        {#                        <td class="text-center">{{ application.email|lower }}#}
                        {#                            <a href="mailto:{{ application.email }}">napisz @</a></td>#}
                        {#                        <td class="text-center">{{ application.facility_address }}</td>#}
                        {#                        <td class="text-center">{{ application.marketing_approval }}</td>#}
                        {#                        <td class="text-center">{{ application.reminder_approval }}</td>#}
                        {##}
                        {##}
                        {#                        <td class="text-center">{{ application.arrival_fee }}</td>#}
                        {#                        <td class="text-center">{{ application.facility_name }}</td>#}
                        {##}
                    </tr>
                    {#                    <tr>#}
                    {#                        <th class="first">Typ</th>#}
                    {#                        <th class="text-center">Długość wizyty</th>#}
                    {#                        <th class="text-center">Data wizyty</th>#}
                    {#                        <th class="text-center">Przedział godz</th>#}
                    {#                        <th class="text-center">Pref. godz</th>#}
                    {#                        <th class="text-center">Informacje dodatkowe</th>#}
                    {#                        <th class="text-center">Kod pocztowy</th>#}
                    {#                        <th class="text-center">Anuluj zamówienie</th>#}
                    {#                        <th>Przypisany</th>#}
                    {#                        <th>Edytuj</th>#}
                    {#                        <th class="text-center">Szczegóły zamówienia</th>#}
                    {##}
                    {#                    </tr>#}
                    {#                    <tr>#}
                    {#                        <td class="first">{{ application.type }}</td>#}
                    {#                        <td class="text-center">{{ application.visit_length|safe }}</td>#}
                    {#                        <td class="text-center,datetime">{{ application.visit_date }}</td>#}
                    {#                        <td class="text-center">{{ application.visit_time }}</td>#}
                    {#                        <td class="text-center">{{ application.pref_visit_time }}</td>#}
                    {#                        <td class="text-center">{{ application.additional_info }}</td>#}
                    {#                        <td class="text-center">{{ application.zip_code }}</td>#}
                    {#                        <td>#}
                    {#                            <button style="background-color: rgba(182,3,3,0.82)"#}
                    {#                                    onclick="return confirm('Czy na pewno chcesz anulować zamówienie?');"><a#}
                    {#                                    style="color: black; text-decoration: none;"#}
                    {#                                    href="cancel_application/{{ application.id }}">Anuluj</a>#}
                    {#                            </button>#}
                    {#                        </td>#}
                    {#                        <td>{% for x in application.assigned_to.all %}{{ x.last_name }}&nbsp#}
                    {#                            {{ x.first_name }}{% endfor %}</td>#}
                    {#                        <td>#}
                    {#                            <a style="color: black; text-decoration: none"#}
                    {#                               href="update_application/{{ application.id }}">Edytuj</a>#}
                    {#                        </td>#}
                    {#                        <td class="text-center">{{ application.application_details }}</td>#}
                    {##}
                    {#                    </tr>#}
                    </tbody>
                </table>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th class="no-report" title="Expandir"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>XYZ</th>

    </tr>
    </tfoot>
</table>


{#---------------------------------------------------------------------------------------------------#}


<script>
    //
    $(document).ready(function () {

        //
        $('.btn-table-expand').on('click', function () {
            let $tr = $(this).closest('tr');

            if ($(this).data('expanded') === undefined || $(this).data('expanded') === 'false') {
                $(this).data('expanded', 'true')
                $(this).children('i').attr('class', 'fa fa-minus');
                $('#' + $tr.data('target')).show();
            } else {
                $(this).data('expanded', 'false')
                $(this).children('i').attr('class', 'fa fa-plus');
                $('#' + $tr.data('target')).hide();
            }
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.getElementById('sortMe');
        const headers = table.querySelectorAll('th.first');
        const tableBody = table.querySelector('tbody.first');
        const rows = tableBody.querySelectorAll('tr.first');

        // Track sort directions
        const directions = Array.from(headers).map(function (header) {
            return '';
        });

        // Transform the content of given cell in given column
        const transform = function (index, content) {
            // Get the data type of column
            const type = headers[index].getAttribute('data-type');
            switch (type) {
                case 'number':
                    return parseFloat(content);
                case 'string':
                default:
                    return content;
            }
        };

        const sortColumn = function (index) {
            // Get the current direction
            const direction = directions[index] || 'asc';

            // A factor based on the direction
            const multiplier = direction === 'asc' ? 1 : -1;

            const newRows = Array.from(rows);

            newRows.sort(function (rowA, rowB) {
                const cellA = rowA.querySelectorAll('td.first')[index].innerHTML;

                const cellB = rowB.querySelectorAll('td.first')[index].innerHTML;


                const a = transform(index, cellA);
                const b = transform(index, cellB);

                switch (true) {
                    case a > b:
                        return 1 * multiplier;
                    case a < b:
                        return -1 * multiplier;
                    case a === b:
                        return 0;
                }
            });

            // Remove old rows
            [].forEach.call(rows, function (row) {
                tableBody.removeChild(row);
            });

            // Reverse the direction
            directions[index] = direction === 'asc' ? 'desc' : 'asc';

            // Append new row
            newRows.forEach(function (newRow) {
                tableBody.appendChild(newRow);
            });
        };

        [].forEach.call(headers, function (header, index) {
            header.addEventListener('click', function () {
                sortColumn(index);
            });
        });
    });
</script>


{#------------------------------------------------------------------------------------------------#}


<style>
    body, h1, h2, h3 {
        margin: 0;
        font-size: 100%;
        font-weight: normal;
    }

    body {
        padding: 1.25em;
        font-family: 'Helvetica Neue', Arial, sans-serif;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h1, h2 {
        margin: .5em 0;
        font-weight: 500;
        color: #3A3A3A;
    }

    p {
        margin: .5em 0
    }

    .report-container > table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
        font-size: 1em;
    }

    tr.second-level table {
        width: 95%;
        float: right;
    }

    tfoot {
        display: table-row-group
    }

    .shrink {
        white-space: nowrap;
        width: 1px;
    }

    .breakhere {
        page-break-after: always
    }

    /* {BEGIN} TABLE */

    .report-table {
        width: 100%;
        font-size: 0.75em; /*12*/
        line-height: 1.25em; /*15*/
        border-collapse: collapse;
        border-spacing: 0;
    }

    .report-table th, .report-table td {
        margin: 0;
        padding: 0.4166em; /*10*/
        vertical-align: top;
        border: 1px solid #babcbf;
        background: #fff;
    }

    .report-table th {
        text-align: left;
        background: rgba(139, 195, 74, 0.60);
    }

    .report-table th:last-child {
        border-right: 1px solid #BCBABA;
    }

    .report-table td.last, .report-table td:last-child {
        border-right: 1px solid #C2CAD0;
    }

    .report-table .even td, .report-table tr:nth-child(even) td {
        background: #EEE;
    }

    td > table.report-table {
        font-size: 1em !important; /*12*/
        line-height: 1.25em; /*15*/
        border-collapse: collapse;
        border-spacing: 0;
    }

    td > table td {
        background: #FFF !important;
    }

    /* {END} TABLE */

    /*.no-report{ display: none;}*/
    table tr.second-level {
        display: none;
    }

</style>