<!DOCTYPE html>
<html lang="pl-PL" style="font-family: sans-serif">

{% include 'header.html' %}

{#-------------------------------------------------------------------------------------------------------------#}
<body>
<div style="width: 100%">
{% block content %}
{% endblock %}
</div>
</body>

{#-------------------------------------------------------------------------------------------------------------#}
{#{% include 'footer.html' %}#}

{% block extra_styling %}
{% endblock %}

{% block extra_js %}
{% endblock %}

</html>