<div>
    <br>Załączniki:
    <br><br>
    <p onclick="openForm('attachment1')" class="btn btn-secondary">Załącznik 1 - Oświadczenia o
        zachowanie poufności
    </p>
    <br>
    <div id="attachment1" class="form-popup" hidden>
        <p class="center">Załącznik nr 1</p>
        <p class="center">Oświadczenie o zachowanie poufności</p>
        Oświadczam, że:
        <br>
        <br>
        - zobowiązuję się do zachowania w tajemnicy wszystkich informacji i dokumentów ujawnionych mi lub
        wytworzonych przeze mnie lub przygotowanych przeze mnie w trakcie lub jako rezultat umowy i zgadzam
        się,
        że informacje te powinny być użyte tylko dla celów niniejszej umowy i nie mogą zostać ujawnione
        stronom
        trzecim,
        <br>
        <br>
        - nie będę zatrzymywać kopii jakichkolwiek pisemnych lub elektronicznych informacji związanych z
        umową.
        Powyższe zobowiązanie ma charakter bezterminowy i w szczególności dotyczy informacji i dokumentów,
        które
        stanowią tajemnice wynikające z przepisów prawa powszechnie obowiązującego.
        <br>
        <div style="display: flex; justify-content: right">
            <p class="btn cancel" onclick="closeForm('attachment1')"><b>Zamknij</b></p>
        </div>
    </div>
    <input required type="checkbox" value="attachment1"> Oświadczam, że zapoznałem się i akceptuję treść
    załącznika
    nr 1 oraz przesyłam swoje dane zgodnie ze stane faktycznym.
    <br><br>
    <p onclick="openForm('attachment2')" class="btn btn-secondary">Załącznik 2 – Zgoda na przetwarzanie
        danych osobowych RODO
    </p>
    <div id="attachment2" class="form-popup" hidden>
        <p class="center">Załącznik nr 2</p>
        <p class="center">Zgoda na przetwarzanie danych osobowych</p>
        <br>
        Ja, niżej podpisana/ny wyrażam zgodę na przetwarzanie moich danych osobowych zgodnie z
        Rozporządzeniem
        Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób
        fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich
        danych
        oraz uchylenia dyrektywy 95/46/WE
        <br>
        Przez Rimarif Partners Sp. z o.o.z sziedzibą w Warszawie przy ulicy Corellego 9/4, 03-289
        <br>
        w celu realizacji umowy zawartej pomiędzy oświadczającym, a Rimarif Partners Sp. z o.o.
        <br>
        <div style="display: flex; justify-content: right">
            <p class="btn cancel" onclick="closeForm('attachment2')"><b>Zamknij</b></p>
        </div>
    </div>
    <br>
    <input required type="checkbox" value="attachment2"> Oświadczam, że zapoznałem się i akceptuję treść
    załącznika
    nr 2 oraz przesyłam swoje dane zgodnie ze stane faktycznym.
    <br><br>
    <p onclick="openForm('attachment3')" class="btn btn-secondary">Załącznik 3 – Oświadczenie o
        niekaralności
    </p>
    <div id="attachment3" class="form-popup" hidden>
        <p class="center">Załącznik nr 3</p>
        <p class="center">OŚWIADCZENIE O NIEKARALNOŚCI</p>
        <br>
        Ja niżej podpisany/a świadomy/a odpowiedzialności karnej wynikającej z art. 233 § 1 kodeksu karnego
        przewidującego karę pozbawienia wolności do lat 3 za składanie fałszywych zeznań.
        <br>
        <p class="center">o ś w i a d c z a m</p>
        <br>
        <br>- iż nie byłem/byłam karany/karana za przestępstwo lub przestępstwo skarbowe,
        <br>- iż nie byłem/byłam karany/karana za przestępstwo związane z gwałtem oraz pedofilią,
        <br>- nie jest prowadzone przeciwko mnie postępowanie o przestępstwo ścigane z oskarżenia
        publicznego
        lub przestępstwo skarbowe,
        <br>- posiadam pełną zdolność do czynności prawnych i korzystam z pełni praw publicznych
        <div style="display: flex; justify-content: right">
            <p class="btn cancel" onclick="closeForm('attachment3')"><b>Zamknij</b></p>
        </div>
    </div>
    <br>
    <input required type="checkbox" value="attachment3"> Oświadczam, że zapoznałem się i akceptuję treść
    załącznika
    nr 3 oraz przesyłam swoje dane zgodnie ze stane faktycznym.
    <br><br>
    <p onclick="openForm('attachment4')" class="btn btn-secondary">Załącznik 4 – Oświadczenie wykonawcy
        dla celów podatkowych
    </p>
    <div id="attachment4" class="form-popup" hidden>
        <p class="center">Załącznik nr 4</p>
        <p class="center">OŚWIADCZENIE WYKONAWCY DLA CELÓW PODATKOWYCH</p>
        <br>
        Prosimy o uzupełnienie wszystkich pól oznaczonych (*)
        <br>
        <b>DANE OSOBOWE WYKONAWCY</b>
        <br>
        <br>
        <br>-
        <br>-
        <br>-
        <br>-
        <br>
        <div style="display: flex; justify-content: right">
            <p class="btn cancel" onclick="closeForm('attachment4')"><b>Zamknij</b></p>
        </div>
    </div>
    <br>
    <input required type="checkbox" value="attachment4"> Oświadczam, że zapoznałem się i akceptuję treść
    załącznika
    nr 4 oraz przesyłam swoje dane zgodnie ze stane faktycznym.
    <br><br>
</div>