{% extends 'base.html' %}
{% load extra_tags %}
{% load static %}
{% block content %}
    <script type="text/javascript" src="{% static 'js/filter_orders.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/show_total.js' %}"></script>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button"
                    role="tab" aria-controls="home-tab-pane"
                    aria-selected="true">Wszystkie</button>
        </li>

        {% for province in provinces %}

            <li class="nav-item" role="presentation">
                <button style="color: rgba(0,0,0,0.62)" class="nav-link" id="{{ province }}-profile-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane"
                        aria-selected="false">{{ province }}</button>
                <input type="hidden" class="region" value="{{ province }}">
            </li>

        {% endfor %}
    </ul>

    <div style="margin-top: 10px">
        <fieldset style="display: flex;">
            <div>
                <input name="rok" type="checkbox" class="checkboxy" value="year">
                <label for="rok">{% now 'Y' %}</label>&nbsp;&nbsp;
            </div>
            <div>
                <input name="confirmation" type="checkbox" class="checkboxy" value="not_confirmed">
                <label for="confirmation">Nie potwierdzone</label>&nbsp;&nbsp;
            </div>
            <div>
                <input name="payment" type="checkbox" class="checkboxy" value="not_paid">
                <label for="payment">Nie opłacone</label>&nbsp;&nbsp;
            </div>
            <div>
                <input name="santa" type="checkbox" class="checkboxy" value="santa">
                <label for="santa">Bez mikołaja</label>&nbsp;&nbsp;
            </div>
            <div>
                <label for="typ_wizyty">Typ wizyty</label>
                <select id="typ_wizyty" onchange="show_id()">
                    <option value="">------</option>
                    {% for visit_type in visit_types %}
                        <option value="{{ visit_type }}">{{ visit_type }}</option>
                    {% endfor %}
                </select>&nbsp;&nbsp;
            </div>
            <div>
                <label for="bounded_santa">Mikołaj</label>
                <select id="bounded_santa" onchange="show_id()">
                        <option value="">------</option>
                    {% for santa in santas %}
                        <option value="{{ santa.id }}">{{ santa.first_name }}{{ santa.last_name }}</option>
                    {% endfor %}
                </select>&nbsp;&nbsp;
            </div>
        </fieldset>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
             tabindex="0">
            {% include 'orders_table.html' %}
        </div>
    </div>


{% endblock %}

{% block extra_js %}
    <script>
        let div_to_observe = document.getElementById('orders');
        const config = {childList: true, subtree: true};

        // Callback function to execute when mutations are observed
        const callback = (mutationList, observer) => {
            for (const mutation of mutationList) {
                if (mutation.type === 'childList') {
                    function reload_js(src) {
                        $('script[src="' + src + '"]').remove();
                        $('<script>').attr('src', src).appendTo('head');
                    }
                    reload_js('/static/js/table_expand.js');
                    reload_js('/static/js/show_total.js');
                } else {
                    console.log(`cos innego się wydarzyło: ${mutation.type}`);
                }
            }
        };
        // Create an observer instance linked to the callback function
        const observer = new MutationObserver(callback);
        // Start observing the target node for configured mutations
        observer.observe(div_to_observe, config);
    </script>
{% endblock %}

{% block extra_styling %}
    <style>
        body, h1, h2, h3 {
            margin: 0;
            font-size: 100%;
            font-weight: normal;
        }

        body {
            padding: 1.25em;
            font-family: 'Helvetica Neue', Arial, sans-serif;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }

        h1, h2 {
            margin: .5em 0;
            font-weight: 500;
            color: #3A3A3A;
        }

        p {
            margin: .5em 0
        }

        .report-container > table, tr, td, th, tbody, thead, tfoot {
            page-break-inside: avoid !important;
            font-size: 1em;
        }

        tr.second-level table {
            width: 95%;
            float: right;
        }

        tfoot {
            display: table-row-group
        }

        .shrink {
            white-space: nowrap;
            width: 1px;
        }

        .breakhere {
            page-break-after: always
        }

        /* {BEGIN} TABLE */

        .report-table {
            width: 100%;
            font-size: 0.75em; /*12*/
            line-height: 1.25em; /*15*/
            border-collapse: collapse;
            border-spacing: 0;
        }

        .report-table th, .report-table td {
            margin: 0;
            padding: 0.4166em; /*10*/
            vertical-align: top;
            border: 1px solid #babcbf;
            background: #fff;
        }

        .report-table th {
            text-align: left;
            background: rgba(139, 195, 74, 0.60);
        }

        .report-table th:last-child {
            border-right: 1px solid #BCBABA;
        }

        .report-table td.last, .report-table td:last-child {
            border-right: 1px solid #C2CAD0;
        }

        .report-table .even td, .report-table tr:nth-child(even) td {
            background: #EEE;
        }

        td > table.report-table {
            font-size: 1em !important; /*12*/
            line-height: 1.25em; /*15*/
            border-collapse: collapse;
            border-spacing: 0;
        }

        td > table td {
            background: #FFF !important;
        }

        /* {END} TABLE */

        /*.no-report{ display: none;}*/
        table tr.second-level {
            display: none;
        }

    </style>
{% endblock %}