{% extends 'base.html' %}
{% block content %}

    <h1>Utwórz hasło do swojego konta {{ user.email }} </h1>
    <br>
    <div style="display: flex; margin: 50px">
        <form method="post">{% csrf_token %}

            <label>Hasło:
                <input name="password" type="password">
            </label>
            <br>
            <br>
            <label>Powtórz hasło:
                <input name="password2" type="password">
            </label>
            <br>
            <br>
            <input type="submit" value="Zapisz">
        </form>
    </div>

{% endblock %}