{% extends 'base.html' %}
{% block content %}
{{ form.media }}
    {% if form.errors %}
        {% for error in errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}
    <label for="contract_type">Wybierz typ umowy: </label>
    <select name="contract_type" id="contract_type" onchange="show_contract()">
        <option value="">------------</option>
        <option value="0">Umowa o dzieło - stawka za wizytę</option>
        <option value="1">Umowa o dzieło - stawka za godzinę</option>
    </select>

    <div class="agreementdiv" id="agreementdiv">
    {% if message %}{{ message }}{% endif %}
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        function show_contract() {
            let contract_type = document.getElementById('contract_type');
            let params = new URLSearchParams();
            params.append('contract_type', contract_type.value);
            let address = '/show_contract/?' + params.toString();
            console.log(params.toString());
            fetch(address)
                .then(response => response.text())
                .then(data => document.getElementById("agreementdiv").innerHTML = data);
        }

       function show_transport() {
            let transport_type = document.getElementById('id_transport_form');
            let own_car = document.getElementById('salary_own_car');
            let company_car = document.getElementById('salary_company_car');
            if (transport_type.value === '0') {
                own_car.setAttribute('hidden', 'hidden');
                company_car.setAttribute('hidden', 'hidden')
                own_car.removeAttribute('hidden');
            } else if (transport_type.value === '1') {
                company_car.setAttribute('hidden', 'hidden');
                own_car.setAttribute('hidden', 'hidden');
                company_car.removeAttribute('hidden');
            } else {
                company_car.setAttribute('hidden', 'hidden');
                own_car.setAttribute('hidden', 'hidden');
            }
        }


        function openForm(cos) {
            let x = document.getElementById(cos);
            let t = document.getElementsByClassName('form-popup');
            for (let i = 0; i < t.length; i++) {
                t[i].setAttribute('hidden', 'hidden');
            }
            x.removeAttribute('hidden');
        }

        function closeForm(cos) {
            let x = document.getElementById(cos);
            x.setAttribute('hidden', 'hidden');

        }

        let div_to_observe = document.getElementById('agreementdiv');
        const config = {childList: true, subtree: true};

        // Callback function to execute when mutations are observed
        const callback = (mutationList, observer) => {
            for (const mutation of mutationList) {
                if (mutation.type === 'childList') {
                    let counter = 0;
                    function reload_js(src) {
                        $('script[src="' + src + '"]').remove();
                        $('<script>').attr('src', src).appendTo('head');
                    }
                    reload_js('/static/js/jSignature.min.js');
                    reload_js('/static/js/django_jsignature.js');
                    counter += 1;
                    if (counter === 1) {
                        observer.disconnect();
                    }
                    observer.observe(div_to_observe, config);
                } else {
                    console.log(`cos innego się wydarzyło: ${mutation.type}`);
                }
            }
        };
        // Create an observer instance linked to the callback function
        const observer = new MutationObserver(callback);
        // Start observing the target node for configured mutations
        observer.observe(div_to_observe, config);


    </script>

{% endblock %}

{% block extra_styling %}

<style>
    .agreementdiv {
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 20px;
        width: auto;
        height: auto;
        text-align: justify;
        margin: 10px;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .justify {
        text-align: justify;
    }

    .center {
        text-align: center;
        font-weight: bold;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

</style>


{% endblock %}